


#page{
    padding-top: var(--header-height);
    margin-left:auto;
    margin-right:auto;
    width: 90vw;
    max-width: var(--content-width);
    display: flex;
    justify-content:  center;
    min-height: 100vh;
}

.content{
    display: flex;
    flex: 3 0 75%;
    max-width:75%;

    > div:first-child{

        border-right: 1px solid var(--color-neutral-bg);
        border-left: 1px solid var(--color-neutral-bg);
        // border: 5px solid gold;
        flex:3 0 70%; //main content 
        width: 70%;
    }
    > div:nth-child(2){
        max-width: 40%;
        padding: 1rem 1.5rem;
        width: 40%; //added this and now it works
        flex:1 1 40%; // Side content, same width as nav ba r
    }
}

@media only screen and (max-width:980px){
    #page{
        max-width: 680px;
    }
    .content > div:first-child{
        // border: 1px solid blue;
        // position: relative;
        max-width: 600px;
    }
    .content > div:nth-child(2){
        display:none !important;

    }

}

@media only screen and (max-width:480px){//mobile
    #page{
        padding:0;
        padding-top: var(--header-height);
        // margin-top: var(--header-height);
        width: 100%;
        flex-direction: column;
        justify-content:flex-start;
        
        


    }

    .content{
        padding: 0;
        max-width: 100%;
        > div:first-child{
            padding-bottom: 8vh;
            border-left: 0;
            border-right:0;
        }
    }

}