.profile-preview-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
  animation: appear 0.3s linear;
  img {
    height: 2rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-right: 0.75rem; //make this a mixin
    border-radius: 50%;
  }

  div {
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p:first-child {
      width:fit-content;

      font-weight: bold;
      cursor: pointer;

      &:hover {
        
        text-decoration: underline;
      }
    }
    p:nth-child(2) {
      font-size: 0.9rem;
      color: var(--color-neutral-1);
    }
  }
  button {
    font-weight: bold;
    width: 6.75rem;
    margin-left: auto;
    margin-right: 0.5rem;

    &.filled {
      color: var(--color-secondary);
      color: var(--color-bg);
      background-color: var(--color-neutral-1);
      cursor: pointer;
      &:hover {
        border: 1px solid var(--color-primary);
        background-color: var(--color-primary);
      }
    }

    &:hover {
      cursor: pointer;

      color: var(--color-bg);
      background-color: var(--color-text);
    }
  }

  &.chat-preview {
    padding: 0.75rem;
    padding-left: 1rem;
    cursor: pointer;
    &:hover {
      background-color: var(--color-neutral-bg);
    }
  }
  
}

