#home-page {
  animation: appear 0.3s linear;
  animation: rise 0.8s ease-in-out;
  .feed-options {
    font-family: Alata;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.25rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-neutral-bg);

    span.selected {
      border-bottom: 3px solid var(--color-accent);
      border-radius: 0.1rem;
    }
  }

  .content-side {
    animation: rise 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;

    top: var(--header-height);

    > div {
      border: 1px solid var(--color-neutral-bg);
      padding: 1rem 0.75rem;
      border-radius: 0.5rem;

      > p:first-child {
        padding-bottom: 0.75rem;
        font-weight: bold;
      }
    }
  }

  .announcement{
    animation: appear 0.3s linear  ;
    p:first-child{
      font-weight: bold;
      font-size: 1.25rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid var(--color-neutral-bg);

    }
    ul{
      margin-left: 1rem;
      padding: 1rem 0;
    }
    li{
      color: var(--color-neutral-1);
    }
    // p:last-child{
    //   text-align: right;
    // }
  }

  .side-content-box {
    > p:first-child {
      font-size: 1.25rem;
      border-bottom: 1px solid var(--color-neutral-bg);
      margin-bottom: 0.75rem;
    }
  }
}
