
// .skeleton{
//   // test
//   // background-color: grey !important;
//   opacity: 0.7;
//   animation: skeleton-loading 1s linear infinite alternate !important;
// }


// // .skeleton-text{
// //   width:100%;
// //   height: .5rem;

// // }



@keyframes skeleton-loading {
  0%{
    background-color: hsl(200, 4%, 46%);
  }
  100%{
    background-color: hsl(200,20%,95%);
  }
  
}


.postcard {
  animation: appear 0.3s linear;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  cursor: pointer;

  .post-header {
    display: flex;
    gap: 0.5rem;

    span {
      line-height: 30px;
      justify-content: center;
      color: var(--color-neutral-3);

      &:nth-child(2) {
        color: var(--color-text);
        font-weight: bold;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .written-time{
      margin-right: auto;
      margin-left: 0;
    }


    img {
      //pfp
      object-fit: cover;
      border-radius: 50%;
      aspect-ratio: 1/1;
      // height: 2rem;
      width: 2rem;
      margin-right: 0.75rem;

    }

    svg {
      color: var(--color-neutral-2);
      margin-left: auto;
      opacity: 0.5;
      // border: 1px solid red;
      min-height: 20px;
      min-width: 20px;

      &:hover {
        color: rgb(192, 36, 36);
        opacity: 1;
      }
    }
  }

  .post-body {
    padding-top: 0.75rem;
    font-weight: 350;
    overflow-wrap: break-word;

    .post-tags {
      padding: 0.25rem 0;
    }

    span {
      margin-right: 0.5rem;
      font-style: italic;
      color: var(--color-accent);
      opacity: 0.7;

      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }

    img,video {
      //pic
      padding: 0.75rem 0;
      border-radius: 2rem;
      width: 100%;
    }
  }

  .post-buttons {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: var(--color-neutral-1);
    opacity: 0.8;

    p {
      display: flex;
      gap: 0.25rem;
      justify-content: center;
    }

    svg {
      &:nth-child(n + 3) {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &:hover {
    background-color: var(--color-neutral-bg);
  }
}

.red-heart {
  color: red;
}

.postcard-pfp {
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 35px;
}


@keyframes appear{
  from{
      opacity: 0;

  }
  to{
      opacity:1;
  }
}