.user-profile-page{
    // max-width: 100%;

    .profile-main{
        display: flex;
        padding: 1.5rem 1rem;
        gap: 1rem;
        font-size: 1.1rem;
        align-items: center;
        
        img{
            
            // width: clamp(45%,45%,300px);
            object-fit: cover;
            width: 30%;
            height: fit-content;
            aspect-ratio: 1 !important;
            border-radius: 50%;
            border: 2px solid var(--color-neutral-bg);
        }
        >div:last-of-type{
            width: 70%;
            padding-left : 1rem;
            margin-left:auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .profile-username{
                text-align: center;
                max-width: 100%;
                font-weight: bold;
                font-size: 1.2rem;
                overflow-wrap:break-word;
                text-overflow: ellipsis;
                // border: 1px solid red;
                
            }
            .profile-displayname{
                max-width: 100%;
                text-align: center;
                overflow-wrap:break-word;
                // text-overflow: ellipsis;
                color: var(--color-neutral-1);
            }

            .stats{
                margin: 1rem 0;
                display: flex;
                // justify-content:flex-start;
                align-items: center;
                gap: 2vw;
                >div>p:nth-child(1){
                    font-weight: bold;
                    text-align: center;
                }
                >div>p:nth-child(2){
                    font-size: 0.95rem;
                }
 
            }
            .user-actions{
                width: 70%;
                // border: 1px solid red;
                display: flex;
                gap: 0.5rem;
                justify-content: space-between;
                button{
                    flex:1;
                    padding: 0.25rem 0.75rem;
                    
    
                    &:hover{
                        background-color: var(--color-neutral-1);
                        color: var(--color-bg);
                    }
                }

                button:nth-child(2){
                    flex: 0;
                }
            
            }

        }
    }

    .profile-details{
        padding: 1.5rem 1rem;
        display:flex;
        flex-direction: column;
        gap:0.5rem;

        >div{
            display: flex;
            gap:0.5rem;
            a{
                text-decoration: none;
                color:var(--color-text);

                &:hover{
                    text-decoration: underline;
                }
            }

        }

        .profile-bio,.profile-website,.profile-github{
            // border: 1px solid red;
            max-width: 90%;
            overflow-wrap: break-word;
        }

 
    }

    .profile-posts{
        display: flex;
        flex-direction: column;
        >p:first-child{
            margin-left:auto;
            margin-right: auto;
            padding: 0.25rem 3rem;
            text-align: center;
            border-bottom: 2px solid var(--color-neutral-2);
        }
    }


}