.view-post{
    //change the post card here specifically
    // max-width: 100%;

    .postcard{
        border-bottom: 1px solid var(--color-neutral-bg);

        .post-header{
            span:nth-of-type(2){
                // display:none;
                // color: var(--color-bg); //
                opacity: 0;
                margin-left:auto;
                // color :red;
            }
        }
        .post-body{
            p:first-child{
                font-size: 1.25rem;
            }
        }
    }

    >div>p{
        width: 100%;
        padding: 1rem 1.5rem;
        font-size: 1.25rem;
        font-weight:bold;
        border-top: 1px solid var(--color-neutral-bg);
    }


    .textarea{
        font-family: Inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        padding: 0.5rem;
        resize:none;
        width: 100%;
        max-width: 100%;
        min-height: 4rem;
        background-color: var(--color-bg);
        color: var(--color-text);

        &:focus{
            outline:none;
        }
    }

}