.view-post{
    //change the post card here specifically

    .postcard{
        border-bottom: 1px solid var(--color-neutral-bg);

        .post-header{
            span:nth-of-type(2){
                // display:none;
                // color: var(--color-bg); //
                opacity: 0;
                margin-left:auto;
                // color :red;
            }
        }
        .post-body{
            p:first-child{
                font-size: 1.25rem;
            }
        }
    }

    >div>p{
        width: 100%;
        padding: 1rem 1.5rem;
        font-size: 1.25rem;
        font-weight:bold;
        border-top: 1px solid var(--color-neutral-bg);
        // border-bottom: 1px solid var(--color-neutral-bg);
        // border: 1px solid red;
    }
    // form{
        
    //     padding: 1rem 1.5rem;
    //     // border :1px solid red;
    //     display: flex;
    //     align-items: center;

    //     button{
    //         margin-top:auto;
    //         transition: 0.25s ease-in-out;
    //         &:hover{
    //             color:var(--color-bg);
    //             background-color: var(--color-text);
    //             border: 1px solid var(--color-text);
    //         }
    //     }
    // }

    .textarea{
        font-family: Inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        padding: 0.5rem;
        resize:none;
        width: 100%;
        max-width: 100%;
        min-height: 4rem;
        background-color: var(--color-bg);
        color: var(--color-text);

        &:focus{
            outline:none;
        }
    }

}