

.sidebar{
    height:fit-content;
    top: var(--header-height);
    position: sticky;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    min-height: 100%;
    flex: 1 0 25%;
    min-width: fit-content;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .nav-name{
        font-weight: bold;
    }

    ul{
        padding-top: 1rem;
        display:flex;
        flex-direction: column;
        gap: clamp(0.5rem, 3vh,4vh);

        li{
            display: flex;
            align-items: center;
            padding: 0.5rem 0.75rem;
            border-radius:1.25rem;
            transition: 0.2s ease-in;
            &:hover{
                transform: translateX(-0.2rem);
                background-color: var(--color-neutral-3);

            }
        }
    }

    .sidebar-element{
        display: flex;
        gap: 0.25rem;
    }
}


@media only screen and (max-width: 1275px){
    .nav-name{
        
        display:none;
    }
    .sidebar{
        flex: 0.25 0 6%;
        padding-top: 0;
        padding: 0.75rem;
        padding-left: 1rem;
        align-items: end;

    }
}

@media only screen and (max-width: 980px){ //where the side content hides
    .sidebar{
        flex: 0.25 0 6%;
    }
}

@media only screen and (max-width: 480px){
    .sidebar{
        
        padding:0;
        margin:0;
        width: 100vw;
        position:fixed;
        left:0;
        top:0;
        border: 2px solid red;
        height: 2rem;


        ul{
            padding: 1 1.5rem;
            justify-content: space-around;
            width:100%;
            z-index: 9999;
            opacity: 1;
            // background-color:red;
            margin-top: auto;
            flex-direction: row;
        }
    }
}

//TODO max-width: 480 -> change position of sidebar to be bottom