.parent-comment-card {
  padding: 1rem 1.5rem 2rem 2rem;
  border-bottom: 1px solid var(--color-neutral-bg);
  overflow-wrap: break-word;

  .comment-header {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
    span {
      color: var(--color-neutral-3);
      &:nth-of-type(1) {
        font-weight: bold;
        color: var(--color-text);
      }
    }
  }
  .comment-body {
    padding: 1rem 0 1.5rem 0;
  }

  img {
    //pfp
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    // height: 35px;
    height: 2rem;
    margin-right: 0.75rem;
  }

  .comment-buttons {
    color: var(--color-neutral-2);
    margin-top: 1rem;
    display: flex;
    padding-bottom: 1rem;
    gap: 2rem;


    p {
      padding-bottom: 0.25rem;
      display: flex;
      gap: 0.5rem;

      &:hover{
        cursor:pointer;
      }
    }
    span {
      color: var(--color-neutral-2);
    }


  }

  .group-replies {
    margin-top: 1.25rem;
    padding-top: 0.5rem;
    // border-top: 1px solid var(--color-neutral-bg);
  }

  > form {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    // border-bottom: 1px solid var(--color-neutral-bg);
    .reply-comment {
      width: 100%;
      padding: 1rem 1.5rem;
      background-color: var(--color-bg);
      border: 0;
      color: var(--color-text);
      resize: none;
      min-height: 4rem;
      font-family: Inter;

        &:focus {
          outline: none;
        }
    }

    span{
      padding:0;
      margin: 0;
    }

    .post-reply{
      display: flex;
      margin-left:auto;
      align-items: center;
      gap:0.5rem;
    }

    button {
      width: fit-content;
      // margin-left: auto;

      &:hover {
        cursor:pointer;
        color: var(--color-bg);
        background-color: var(--color-text);
      }

      &:disabled{
        opacity: 0.5;
        cursor:not-allowed;
      }
    }
  }

  .loadmore {
    text-align: center;
    font-style: italic;
    opacity: 0.8;
  }
}
