@keyframes appear{
    from{
        opacity: 0;

    }
    to{
        opacity:1;
    }
}

@keyframes rise{
    from{
        opacity: 0;
        transform: translateY(0.5rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}