.new-post {
  // padding: 1rem 1.5rem;
}

.new-post > div:first-child {
  animation: appear 0.3s linear;
  padding: 1.5rem;
  .textarea {
    padding: 1rem 1.5rem 1rem 0.5rem;
    font-family:
      Inter,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 1.25rem;
    width: 100%;
    resize: none;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: none;
    min-height: 5rem;
    margin: 1rem 0;

    &:focus {
      // outline: 1px soli var(--color-neutral-3);
      outline: none;
      border-radius: 0.5rem;
    }
  }
  .error-box {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    width: 100%;
    color: #d31b1b;
    gap: 5px;
    span {
      margin-bottom: auto;
    }
    &:empty:before {
      content: " ";
      white-space: pre;
    }
  }

  form {
    .tags {
      display: flex;
      gap: 0.25rem;
      flex-wrap: wrap;
    }

    .media-container {
      position: relative;

      img:nth-of-type(1),video:nth-of-type(1){
        max-width: 100%;
        max-height: 2000px;
        height: auto;
        border-radius: 1.5rem;
      }
      svg {
        // color: red;
        border-radius: 50%;
        padding: 0.25rem;
        background-color: var(--color-neutral-3);
        position: absolute;
        bottom: 92.5%;
        left: 92.5%;

        &:hover {
          background-color: var(--color-neutral-1);
          color: var(--color-bg);
        }
      }
    }

    input {
      background-color: var(--color-bg);
      color: var(--color-text);
      border: 1px solid var(--color-neutral-2);
      width: 100%;
      padding: 0.5rem 0.75rem;
      border-radius: 0.75rem;
      &:focus {
        outline: 0;

        border: 1px solid var(--color-accent);
      }
    }
    .options-name {
      margin: 1rem 0;
    }
    .form-options {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin: 2rem 0;

      p:nth-of-type(1) {
        margin-left: auto;
      }
      svg {
        box-sizing: content-box;
        padding-bottom: 0.25rem;

        &:hover {
          cursor: pointer;
        }
      }
      svg.selected {
        border-bottom: 2px solid var(--color-text);
      }

      button:nth-of-type(1) {
        //submit button
        font-weight: bold;
        background-color: var(--color-text);
        color: var(--color-bg);
        // margin-left: auto;

        &:hover {
          cursor: pointer;
          border: 1px solid var(--color-accent);
          background-color: var(--color-accent);
          color: var(--color-text);
        }

        &:disabled {
          opacity: 0.5;
        }
      }

      span {
        margin: 0;
      }
    }

    .attachment-container {
      padding: 0;
      margin: 0;
      label {
        display: flex;
        justify-content: center;
      }
      input {
        display: none;
        height: 0;
      }
    }
  }
}

