.nav-back {
  width: 100%; //generic styling?
  padding: 1rem 1.5rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-neutral-bg);

  p {
    // border: 1px solid red;
    font-weight: bold;
    font-size: 1.25rem;
    // width: 100%;
    padding-right: 3rem;
  }

  svg {
    height: 1.5rem;
    box-sizing: content-box;
    padding: 0.25rem;
    border-radius: 2rem;
    margin-right:1.5rem;
    cursor:pointer;

    &:hover {
      background-color: var(--color-neutral-bg);
    }
  }

  img {
    //pfp
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 2rem;
    margin: 0 0.5rem;
    cursor:pointer;

  }

  .back-nav-link{
    cursor:pointer;
  }

}

@media only screen and (max-width: 480px) {
  .nav-back {
    padding: 0.5rem 0.75rem;
    border: 0;

    p {
      font-size: 1.1rem;
      text-align: center;
    }
  }
}
