.error-404{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    text-align: center;

    padding: 5rem 1rem 0 1rem;

    h1{
        font-family: Alata;
    }
}